.nftRightContainer{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgba(19, 19, 26, 0.5411764706);
    margin-top: 30px;

    h2{
        color: #fff;
        margin: 20px;
    }
  
}