.searchBar{
    background-color: #000;
    color: #fff;
    width: 192px;
    padding: 8px;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 2;
    position: absolute;
    margin-top: 3px;
}