.allNftContainer{
    margin-top: 100px;
    color: #fff;

    .allNftInnerContainer{
        background-color: #181820;

        .allNftInnerContainerInfo{
            height: 50px;
            display: grid;
            grid-template-columns: 0.5fr 3fr repeat(7, 1fr);
            border: 1px #313141 solid;
            align-items: center;

            .allNftInnerContainerInfoIndex{
                justify-self: center;
            }
        }
    }
}

@media screen and (max-width: 900px){
    .allNftContainer{
        font-size: 14px;
    }
}

@media screen and (max-width: 700px){

    .allNftContainer{
        .allNftInnerContainer{
            .allNftItemOffer{
                display: none;
            }
        }
    }
}