.nftRightContainerStats{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .nftRightContainerStatsItem{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
        border-bottom: 1px rgb(58 56 75) solid;
        
        h3{
            color: #7a8094;
            font-size: 14px;
        }

        span{
            color: #fff;
        }
    }
}